<div class="flex flex-col gap-2">
  @if(label()){
  <label class="text-sm font-medium">{{ label() }}</label>
  }

  <div
    class="w-full h-full p-4 border border-dashed rounded-lg text-center cursor-pointer hover:bg-(--color-bg,#f7fdf9) border-[var(--color-border,#e5f4ec)] bg-[var(--color-surface,#ffffff)]"
    (drop)="onDrop($event)"
    (dragover)="allowDrop($event)"
  >
    @if (!preview) {
    <div>
      <p class="text-(--color-muted,#6b7280)">Drag & drop or click to upload</p>
      <input
        type="file"
        class="hidden"
        [accept]="accept()"
        capture="environment"
        (change)="onFileSelected($event)"
        #fileInput
      />
      <button
        type="button"
        class="text-sm text-(--color-primary,#10b981)"
        (click)="fileInput.click()"
      >
        Choose File
      </button>
    </div>
    } @if (preview) {

    <div class="mt-2 flex items-end gap-4">
      <img
        [src]="preview"
        class="max-h-48 mx-auto rounded shadow"
        alt="Image Preview"
      />
      @if(useAI){
        <ui-button-pill (onClick)="callAI()">Use AI</ui-button-pill>
      }
    </div>
    }
  </div>
</div>
