<div class="px-4 py-5 my-5 text-center">
  <img
    class="d-block mx-auto mb-4"
    src="/assets/images/syndicai.png"
    alt=""
    width="500"
    height="500"
  />
  <h1 class="display-5 fw-bold">It was great to see you</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Please come back one day</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <ui-button-pill
        color="primary"
        label="Logout"
        (click)="logout()"
        >Logout</ui-button-pill
      >
    </div>
  </div>
</div>

